body {
    background-color: white;

}
.logo-img{
    max-width: 150px;
    height: 50px;
    display: block;
}
.center{
    margin-left: auto;
    margin-right: auto;
    max-width: 250px;
    height: 150px;
}
h1{
    .loginpage{
        background-color: lightskyblue;
        text-align: left;
    }
    
    
}
h2{
    text-align: center;
}
.error-msg{
    color: red;
    display: none;
}
.login-box{
    text-align: center;
    .inputs{
        width: 200px;
        height: 20px;
        font-size: 18px;
    }
   
    .space-input{
        margin-bottom: 10px;
    }
    .button:hover{
        width: 80px;
        height: 30px;
        font-size: 15px;
        text-decoration: none;
    }
}
