body {
    background-image: url('Images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    .logo-img{
        max-width: 200px;
        max-height: 150px;
        display: block;
        position: absolute;
        top: -20px;
        left: 20px;
        margin: 0;
    }
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.login-box{
    display: block;
    margin-left: auto;
    margin-right: auto;
        h2{
            text-align: center;
            font: bold 24px "Times New Roman", Times, serif; 
        }
        .userIcon{
            max-width: 150px;
            max-height: 100px;
        }
        .inputs{
            width: 200px;
            height: 20px;
            font-size: 18px;
        }
        .error-msg{
            color: red;
            display: none;
            text-align: center;
        }
        .button:hover{
            width: 80px;
            height: 30px;
            font-size: 15px;
            text-decoration: none;
        }
        .space-input{
            margin-bottom: 10px;
        }
}


.scroll-box{
    width: 300px;
    height: 360px;
    border: none;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
}
.addcontact{
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
}
.head{
    display: flex;
    flex-direction: row;
    gap: 60px;
}